body {
  background-color: #e1e1e1;
}
.about-us {
  margin: auto;
  text-align: center;
  line-height: 2;
  background-image: url("../assets/Homeimage/Rectangle\ 33.png");
  background-size: contain;
  /* color: white; */
  padding: 50px 0px 180px 0px;
}

.about-us p {
  width: 50%;
  text-align: justify;
  line-height: 1.6;
  margin: auto;
}
.a1 {
  width: 240px;
  height: 254px;
  object-fit: cover;
  border-radius: 10px;
}
.a2 {
  width: 180px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  justify-content: center;
}
.aboutimg {
  display: flex;
  gap: 40px;
  justify-content: center;
  position: relative;
  top: -140px;
}
.mission {
  padding-left: 50px;
  text-align: justify;
  width: 45%;
  line-height: 1.6;
}
.mission p {
  border-left: 2px solid #e1bb50;
  padding-left: 10px;
}
.learning {
  display: flex;
  align-items: top;
}
.learning-img {
  width: 450px;
  height: 267px;
  border-radius: 10px;
  object-fit: cover;
  margin: 40px 55px 30px;
}
.learningtext {
  text-align: justify;
  width: 45%;
  line-height: 1.6;
  margin-top: 50px;
}
.learningtext p {
  border-left: 2px solid #e1bb50;
  padding-left: 10px;
}
.entern {
  height: 626px;
  width: 1520px;
  object-fit: cover;
  margin-top: 30px;
}
.sucessbtn button {
  border-radius: 50px;
  border-color: #e4e4e4;
  padding: 5px 20px;
  position: relative;
  top: -20px;
  right: -687px;
}
.sucessbtn p {
  text-align: center;
  font-size: large;
  padding-bottom: 50px;
}

.aboutteam {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 60px;
}

.about7text {
  background: #fff;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-image: url("../assets/Homeimage/background.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.apic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  margin: auto;
  display: block;
  position: relative;
  bottom: 65px;
}

.about7text h3 {
  color: #004aad;
  margin-top: -35px;
}

.about7text h6 {
  color: black;
  font-size: 13px;
}

.about7text p {
  font-size: 15px;
  color: black;
  line-height: 1.4;
  text-align: justify;
}

/* h6  */
.about6 h2 {
  text-align: center;
  padding: 15px;
  background-color: rgb(223, 223, 223);
}
.ab {
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
  padding: 30px;
  background-color: rgb(223, 223, 223);
}
.ab img {
  border-radius: 50px;
  border-color: blue;
  border-style: groove;
  width: 95px;
  height: 95px;
  object-fit: cover;
}
.ab-text {
  background: linear-gradient(180deg, #286491 20%, #1e4a6b 69%, #0c1d2a 100%);
  border-radius: 5px;
  width: 200px;
  height: 250px;
  padding: 8px;
  margin: 10px;
  line-height: 1.5;
  color: white;
}
/* .icon{
  display: flex;
  justify-content: center;
  gap: 20px;
  color: yellow;
}
           
.left{
  margin-right: 200px;
}
.right{
  margin-left: 180px;
} */
