.contactpage {
  text-align: center;
  line-height: 3;
  background-image: url("../assets/Homeimage/contact.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px 0px 190px 0px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #e2b54b;
}

.cp{
    display: flex;
    justify-content: center;
    gap: 100px;
    line-height: 1.5;
    margin: 70px;
}
.cp1{
    background-color:#d5d5d5;
    color: black;
    width: 250px;
    height: 130px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 5px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: -1px 2px 4px #00000040;
}
.con{
    color:#01295C;
    width: 250px;
    height: 40px;
}
.map{
    display: flex;  
    justify-content: center;
    margin: 40px;
    margin-left: -50px;
}
.mapform{
    background-color: #FFFFFF52;
    width: 600px;
}
.mapform legend{
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    /* margin-bottom: 15px; */
    padding: 20px;
}
.mapimg{
    width:500px;
    height:550px;
}
.mapin{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.mapin input{
    width: 214px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #00000040;
    padding-left: 15px;
    margin: 15px;
}
.mapform textarea{
    width: 545px;    
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px #00000040;
    padding-left: 20px;
    margin: 19px;
}
.mapform button{
    width: 140px;
    height: 30px;
    border-radius: 5px;
    background-color: #01295C;
    color: white;
    margin: auto;
}


