.courses {
  padding: 40px; 
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
}
.title {
  font-weight: 700;
  color: black;
 background-color: #e0e0e0;
}
.category{
  background-color: white;
  width: 200px;
  height: 320px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-left: 120px;
}

.category-title {
  font-weight: 600;
  border-bottom: 3px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 8px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  display: flex;
  gap: 4px;
  font-size: 14px;
  color: #333;
  margin: 8px;
}

/*  */

.courselist {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  justify-content: center;
  gap: 65px;
  margin: 0 auto;
  max-width: 1000px;
}

.coursecard {
  width: 200px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

.courseimg {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.coursecontent {
  padding: 12px;
}

.pricereview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pr{
  background-color: #fcd34d;
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: 600;
  color: #000;
}

.rev {
  color: #777;
  font-size: 13px;
}

.coursecontent h3 {
  font-size: 15px;
  font-weight: 600;
  margin: 8px 0;
}

.instruction {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.instruction-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.act {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addcart {
  background-color: #fcd34d;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 600;
  color: #000;
}

.addcart:hover {
  background-color: #fbbf24;
}

.viewcourse {
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 6px;
  margin-top: 10px;
  padding: 6px 0;
  font-weight: 600;
}

.viewcourse:hover {
  background-color: #f5f5f5;
}

