.instruct{
  background-color: #e1e1e1;
}
.Allcourse button{
    border-radius:10px ;
    background-color: #939393;
    border: none;
    color: white;
    width: 110px;
    height: 25px;
    text-align: center;
}
.title{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    text-align: center;
}
.teacher{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;    
    box-shadow: 2px 2px 4px #00000040;
    width: 850px;
    height: 90px;
    border-radius: 2px;
    margin-left: 310px;
}
.inimage{
    display: flex;
    align-items: center;
    gap: 10px; 
}
.inimage p{
    font-size:medium;
    font-weight: 500;
}
.visit button{
    border-radius:8px ;
    background-color: #003372;
    color: white;
    width: 110px;
    height: 29px;
    text-align: center; 
}
.picture{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit:cover;
    border:3px dotted #003372;
}

.link {
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: 500;
}

.navlink:hover {
  border-bottom: 2px solid blue;
}
