.st {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 80px;
  position: absolute;
  top: 5px;
 right: 20px;
}
.st h2{
  margin-top: 16px;
  font-style: italic;
}

.login-container {
  display: flex;
}
.logintext{
  text-align: center;
}
/* Left Side */
.login-left {
  flex: 1;
  background: #fff;
  padding: 60px;
}

.login-left h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.login-left p {
  color: #666;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin: 10px 0 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  outline: none;
}
.eye-icon{
  position: relative;
  left: 96%;
  top: -40px;
  
}

.login-options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: black;
  margin-bottom: 15px;
}
.login-options p{
  color: black;
}

.submit {
  background-color: #f5b400;
  border: none;
  padding: 10px;
  border-radius: 6px;
  width: 100px;
  margin: auto;
  align-items: center;
  font-weight: bold;
}

.or-divider {
  text-align: center;
  margin: 10px 0;
  color: #777;
}

.google-btn {
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 10px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  margin: auto;
}

.signup-text {
  text-align: center;
  margin-top: 80px;
}

.signup-text a {
  color: #f5b400;
  text-decoration: none;
  font-weight: 500;
}
.signup-text a:hover {
  text-decoration: underline;
}
/* Right Side */
.login-right {
  flex: 1;
  background: linear-gradient(135deg, #023e8a, #0077b6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  position: relative;
}

.login-right h3 {
  margin-bottom: 10px;
}

.login-right img {
  width: 70%;
  margin-top: 20px;
}
form{
  /* align-items: center; */
  justify-content: center;
}