.signing{
    display: flex;
}
.lab{
    display: flex;
    gap: 10px;
}
.signup-left{
    padding: 50px;
    width: 50%;
  
}
.signup-right{
    background: linear-gradient(180deg, #002859 0%, #0056BF 100%);
    color: white;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.sign{
    display: flex;
    font-style: italic;
    margin-top: 10px;
    gap: 10px;
}
.sign h2{
    margin-top: 10px;
    font-size: 20px;
}
.sign1{
    margin-top: 80px;
    font-size: 20px;
    text-align: center;
}
.signup-left h2{
   text-align: center; 
    margin-bottom: 30px;
   
}
.signup-btn{
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 10px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 6px;
  margin: auto;
}
.signup-form{
    padding-left: 150px;
}
.signup-form input{
    width: 410px;
   background: #EEEEEE;
} 
.signup-form .name input{
    width: 190px;
}
.pw-icon{
  position: relative;
  left: 72%;
  top: -40px;
}
.signup-submit {
  background-color: #f5b400;
  border: none;
  padding: 10px;
  border-radius: 6px;
  width: 100px;
  margin-left :180px;
  font-weight: bold;
}
.signup-left p{
    text-align: end;
    margin-top: 20px;
}